@import "styles/shared.module.scss";

.wrapper {
  width: 500px;
  margin: 0 auto;
}
.title {
  font-size: 34px;
  font-weight: 700;
  color: var(--primary-text-color);
  margin-bottom: 15px;
  text-align: center;
}
